<section class="section about-2 padding-0 bg-dark" id="about">
	<div class="container-fluid p-0">
		<div class="row no-gutters align-items-center">
			<div class="col-lg-6">
				<img class="img-fluid" src="images/about/about-business-man.jpg" alt="">
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>We’re A Digital Design Agency.</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempora itaque, autem dolores culpa cum mollitia voluptate nesciunt voluptatibus quasi.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eveniet vel et mollitia nemo corporis autem dolores culpa cum mollitia voluptate</p>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, magnam.</p>
					<div class="row">
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-circle-compass"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">SEO Optimized</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus
										eos saepe</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="media">
								<div class="pull-left">
									<i class="tf-hotairballoon"></i>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Easy Customization</h4>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus consectetur dolores repellendus
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>