<!--
		Start About Section
		==================================== -->
<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>About <span class="color">Us</span> </h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block">
					<div class="icon-box">
						<i class="tf-tools"></i>
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3 class="ddd">We're Creative</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos
							provident laborum eum dignissimos</p>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<i class="tf-strategy"></i>
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>We're Professional</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos
							provident laborum eum dignissimos</p>
					</div>
				</div>
			</div>
			<!-- End About item -->

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<i class="tf-anchor2"></i>
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>We're Genius</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos
							provident laborum eum dignissimos</p>
					</div>
				</div>
			</div>
			<!-- End About item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->