<!-- Start Blog Section
=========================================== -->
<section id="blog" class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeInDown">
					<h2> Latest <span class="color">Posts</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms">
				<div class="post-block">
					<div class="media-wrapper">
						<img src="images/blog/blog-post-1.jpg" alt="amazing caves coverimage" class="img-fluid">
					</div>
					<div class="content">
						<h3><a href="blog.html">Simple Image Post</a></h3>
						<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
							moon officia aute, non skateboard dolor brunch.</p>
						<a class="btn btn-transparent" href="blog-single.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- /single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="post-block">
					<div id="gallery-post" class="media-wrapper">
						<div class="item">
							<img src="images/blog/blog-post-1.jpg" alt="blog post" class="img-fluid">
						</div>
						<div class="item">
							<img src="images/blog/blog-post-3.jpg" alt="blog post" class="img-fluid">
						</div>
						<div class="item">
							<img src="images/blog/blog-post-2.jpg" alt="blog post | Meghna" class="img-fluid">
						</div>
					</div>

					<div class="content">
						<h3><a href="blog.html">Simple Slider Post</a></h3>
						<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
							moon officia aute, non skateboard dolor brunch.</p>
						<a class="btn btn-transparent" href="blog-single.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- end single blog post -->

			<!-- single blog post -->
			<article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="post-block">
					<div class="media-wrapper">
						<img src="images/blog/blog-post-6.jpg" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="blog.html">Simple Image Post</a></h3>
						<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
							moon officia aute, non skateboard dolor brunch.</p>
						<a class="btn btn-transparent" href="blog-single.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- end single blog post -->

			<div class="col-12">
				<div class="all-post text-center">
					<a class="btn btn-main" href="blog.html">View All Post</a>
				</div>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->