 <!--
Welcome Slider
==================================== -->

 <section class="hero-area overlay" style="background-image: url('images/banner/hero-area.jpg');">
 	<!-- <video autoplay muted loop class="hero-video">
		<source src="images/banner/hero-video.mp4" type="video/mp4">
	</video> -->
 	<div class="block">
 		<div class="video-button mb-5">
 			<a class="popup-video" href="https://www.youtube.com/watch?v=jrkvirglgaQ">
 				<i class="tf-ion-play"></i>
 			</a>
 		</div>
 		<h1>Experience the new reality</h1>
 		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, excepturi. At recusandae sit perferendis
 			autem,iste tempora nostrum numquam sapiente!</p>
 		<a href="#services" class="btn btn-transparent smooth-scroll">Explore Us</a>
 	</div>
 </section>