<!-- Start Pricing section
=========================================== -->

<section id="pricing" class="pricing section section-bg">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeInDown" data-wow-duration="500ms">
					<h2>Our Greatest<span class="color"> Plans</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- single pricing table -->
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="200ms">
				<div class="price-item">

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Free</h3>
						<p><strong class="value">$99</strong>/ month</p>
					</div>
					<!-- /plan name & value -->

					<!-- plan description -->
					<ul>
						<li>1GB Disk Space</li>
						<li>10 Email Account</li>
						<li>Script Installer</li>
						<li>1 GB Storage</li>
						<li>10 GB Bandwidth</li>
						<li>24/7 Tech Support</li>
					</ul>
					<!-- /plan description -->

					<!-- signup button -->
					<a class="btn btn-transparent" href="#">Signup</a>
					<!-- /signup button -->

				</div>
			</div>
			<!-- end single pricing table -->

			<!-- single pricing table -->
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="400ms">
				<div class="price-item">

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Silver</h3>
						<p><strong class="value">$149</strong />/ month</p>
					</div>
					<!-- /plan name & value -->

					<!-- plan description -->
					<ul>
						<li>1GB Disk Space</li>
						<li>10 Email Account</li>
						<li>Script Installer</li>
						<li>1 GB Storage</li>
						<li>10 GB Bandwidth</li>
						<li>24/7 Tech Support</li>
					</ul>
					<!-- /plan description -->

					<!-- signup button -->
					<a class="btn btn-transparent" href="#">Signup</a>
					<!-- /signup button -->

				</div>
			</div>
			<!-- end single pricing table -->

			<!-- single pricing table -->
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="600ms">
				<div class="price-item">

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Gold</h3>
						<p><strong class="value">$199</strong />/ month</p>
					</div>
					<!-- /plan name & value -->

					<!-- plan description -->
					<ul>
						<li>1GB Disk Space</li>
						<li>10 Email Account</li>
						<li>Script Installer</li>
						<li>1 GB Storage</li>
						<li>10 GB Bandwidth</li>
						<li>24/7 Tech Support</li>
					</ul>
					<!-- /plan description -->

					<!-- signup button -->
					<a class="btn btn-transparent" href="#">Signup</a>
					<!-- /signup button -->

				</div>
			</div>
			<!-- end single pricing table -->

			<!-- single pricing table -->
			<div class="col-lg-3 col-md-6 text-center wow fadeInUp" data-wow-duration="500ms"
				data-wow-delay="750ms">
				<div class="price-item">

					<!-- plan name & value -->
					<div class="price-title">
						<h3>Platinum</h3>
						<p><strong class="value">$299</strong />/ month</p>
					</div>
					<!-- /plan name & value -->

					<!-- plan description -->
					<ul>
						<li>1GB Disk Space</li>
						<li>10 Email Account</li>
						<li>Script Installer</li>
						<li>1 GB Storage</li>
						<li>10 GB Bandwidth</li>
						<li>24/7 Tech Support</li>
					</ul>
					<!-- /plan description -->

					<!-- signup button -->
					<a class="btn btn-transparent" href="#">Signup</a>
					<!-- /signup button -->

				</div>
			</div>
			<!-- end single pricing table -->


		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->