<!-- 
Start Our Team
=========================================== -->

<section id="our-team" class="section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>Our <span class="color">Team</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- team member -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/team-1.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Abul Mal Muhit</h4>
						<span>CEO/Founder</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->

				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/team-2.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Frank Miller</h4>
						<span>Manager</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/team-3.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Michael Jonson</h4>
						<span>Web Developer</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-3 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="600ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/team-4.jpg" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Mo. Kha. Alamgir</h4>
						<span>SEO Specialist</span>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
					</div>
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end team member -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->